:root {
    --pri-color-1: #0e0e0e;
    --pri-color-2: #050505;

    --sec-color-1: #f1f1f1;
    --sec-color-2: #f5f5f5;

    --accent-color-1:  #ffA888;
    --accent-color-2:  #00ffe7;

    --font-poppins: "Poppins", sans-serif;
    --font-inter: "Inter", sans-serif;

    font-family: var(--font-poppins);

    padding: 16px;
}

html {
    /*background: linear-gradient(var(--sec-color-2), var(--sec-color-1));*/
    background-color: var(--sec-color-1);
    height: 100dvh;
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    height: 48px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: var(--pri-color-1);

    border: 1px solid var(--pri-color-1);

    background-color: var(--sec-color-1);

    /*background: linear-gradient(var(--sec-color-1), var(--sec-color-2));*/

    /*background: linear-gradient(to top, transparent, #121212ff);*/

    /*filter: drop-shadow(0 -0.1rem 0.05rem var(--pri-color-1));*/

    border-radius: 1rem;
    padding: 8px;

    & span {
        font-family: var(--font-poppins);
    }
}

a {
    color: var(--pri-color-1);
    text-decoration: none;
}

body {
    padding-block: 0px;
    margin: 0;
}

footer {
    margin-block: 32px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* --- CLASS --- */

.background-hero {

}

.justify-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.justify-col{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
}

.gradient1-toLeft {
    background: linear-gradient(
        to left,
        var(--accent-color-2),
        var(--accent-color-1)
    );
}
.gradient1-toRight {
    background: linear-gradient(
        to right,
        var(--accent-color-2),
        var(--accent-color-1)
    );
}

.buttonShape {
    background-color: var(--accent-color-1);
    padding: 16px;
    border: 0px solid transparent;
    border-radius: 1rem;
}

.pri-c-1 {
    color: var(--pri-color-1);
}
.pri-c-2 {
    color: var(--pri-color-2);
}
.sec-c-1 {
    color: var(--sec-color-1);
}
.sec-c-2 {
    color: var(--sec-color-2);
}
.acc-c-1{
    color: var(--accent-color-1);
}
.acc-c-2{
    color: var(--accent-color-2);
}

.text-bolder {
    font-weight: bolder;
}

.rot-45 {
    transform: rotate(45deg);
}
.rot-225 {
    transform: rotate(225deg);
}

.footerLinkHeader{
    color: var(--accent-color-1);
    display: block;

    margin-block: .25rem;
}

.link-size-1{
    font-size: 12px;
}
.link-size-2{
    font-size:  .75rem;
}
.link-size-3{
    font-size: 1rem;
}

/* --- ID --- */

#navButton{
    height: 48px;
    width: 48px;
    background-color: var(--accent-color-1);
    border-radius: 1rem;
    border: 0px solid transparent;

    padding: 0;

}


#footerWrapper {
    gap: 16px;
    margin-inline: auto;
    margin-block: 0px;
    max-width: var(--cutoffSize);


    border-bottom: 1px;
    border-top: 1px;
    border-inline: 1px;
    border-color: var(--pri-color-1);
    border-style: solid;

    padding-block: 32px;

    border-radius: 1rem;

    & img {
        height: 32px;
        width: 32px;
    }

    & #footerLinks {
        color: var(--pri-color-1);

        display: flex;
        flex-direction: row;
        align-items: start;

        justify-content: space-evenly;
        width: 100%;
    }
}

#stickyNavWrapper {
    top: 16px;
    position: sticky;
}

#wabbanodeLink {

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;

    min-width: fit-content;
    & img {
        height: 16px;
        width: 16px;
    }
}

#downloadButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;

    width: fit-content;

    & img {
        height: 16px;
        aspect-ratio: 1/1;
    }
    & a {
        color: var(--pri-color-1);
        text-decoration: none;
    }
}

#heroWrapper {

    & #hero{
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-block: 32px;
    }

    & h1 {
        font-size: 3rem;
    }
}

#modpackLogo {
    margin-block: auto;
    height: 48px;

    & svg{
        height: 48px;
        width: 48px;
    }

    & svg > path {
        fill: var(--pri-color-1);
    }
}

#navDisabled{
    display: none;
}

#phone_nav {

    display: block;
    position: absolute;
    right: 0;
    top: 72px;
    margin-block: auto;
    width: 90vw;
    max-width: 360px;
    height: fit-content;

    background: rgba(255, 255, 255, .25);
    border: 1px solid rgba(127, 127, 127, .25);
    box-shadow: 0 2px .25rem rgba(127, 127, 127, .5);
    border-radius: 1rem;

    & ul {
        padding: 32px;
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 8px;

        list-style: none;

        font-family: var(--font-poppins);
        & li {
            padding-block: 8px;

            &:hover{
                background-color: var(--accent-color-1);
                border: 0px solid transparent;
                border-radius: 1rem;
            }
            & a {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                gap: 8px;

                & span{
                    font-size: .75rem;
                    color: var(--pri-color-1);
                    font-weight: bold;
                }

                & svg{
                    width: 24px;
                    height: 24px;
                }
                & svg > path{
                    fill: var(--pri-color-1);
                }
            }
        }
    }
}

#tablet_nav{
    display: none;
}

#legal_disclaimer{
    max-width: 256px;

    & i{
        font-size: .6rem;
    }
}

#navDropdown{

}

/* wrappers */

#wrapper_downloads {
    background-color: var(--sec-color-1);
    height: 1080px;
}

/* Media Queries */

/* tablet screen */
@media screen and (min-width: 768px) {
    header{
        max-width: 1280px;
        margin-inline: auto;

        margin-block: 0px;
    }


    .buttonHover1{
        border: 0px solid transparent;
        transition: border .25s;

        &:hover{
            border: 4px solid var(--pri-color-1);
        }
    }

    #footerWrapper{
        max-width: 1280px;
        margin-inline: auto;
        gap: 16px;
        padding-inline: 8px;
    }


    #navButton{
        display: none;
    }

    #phone_nav {
        display: none;

    }

    #tablet_nav{
        display: flex;

        & ul {
            display: flex;
            gap: 16px;
        }

        & ul > li > a{
            gap: 4px;
        }

        & ul > li > a > svg{
            width: 16px;
            height: 16px;
        }

        & ul > li > a > svg > path{
            fill: var(--pri-color-1);
        }
    }

    #downloadButton{
        margin: 8px;
    }

    #wabbanodeLink{
        margin: 8px;
    }

    #heroWrapper {
        flex-direction: row;
        height: fit-content;
        margin-inline: 16px;
    }

    #heroLinkWrapper{
        margin-block: 32px;
    }

    #hero{
        height: 768px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        & h1{
            font-size: 4rem;

            color: transparent;
            background:linear-gradient(to bottom, var(--accent-color-1), var(--accent-color-2));
            background-clip: text;
            background-size: contain;

            &:hover{
                background:linear-gradient(to bottom, var(--accent-color-1), var(--accent-color-2));
                background-clip: text;
                background-size: contain;

                --accent-color-1: red;
                --accent-color-2: rgba(255,127,0, 0.5) 75%;
            }
        }

        & p{
            color: var(--pri-color-1);

            margin: 0;

            max-width: 768px;
            text-align: center;

            font-size: 2rem;
            font-weight: 1000;
        }
    }
}

@media screen and (min-width: 960px){
    #heroWrapper{
        max-width: 1280px;
        margin-inline: auto ;
    }
}
