:root {
    --pri-color-1: #f0f0f0;
    --pri-color-2: #f0f0f0;

    --sec-color-1: #151515;
    --sec-color-2: #252525;

    --accent-color-1: #ffbb00;
    --accent-color-2: #d98600;

    --font-poppins: "Poppins", sans-serif;
    --font-inter: "Inter", sans-serif;
}

html {
    background: linear-gradient(var(--sec-color-2), var(--sec-color-1));
    background-color: var(--sec-color-1);
    height: 100dvh;
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: var(--pri-color-1);

    background: linear-gradient(var(--sec-color-1), var(--sec-color-2));

    filter: drop-shadow(0 -0.1rem 0.05rem var(--pri-color-1));

    border: 1px solid var(--pri-color-1);
    border-bottom: 0;
    border-radius: 1rem;
    padding: 8px;

    & span {
        font-family: var(--font-poppins);
    }
}

body {
    padding: 16px;
    margin: 0;
}

a {
}

/* --- CLASS --- */

.justify-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

/* --- ID --- */

#modpackLogo {
    width: 32px;
    height: 32px;
}

#headingNav {
    & ul {
        display: flex;
        flex-direction: row;
        gap: 16px;

        list-style: none;

        font-family: var(--font-poppins);
    }
}
