:root {
    --pri-color-1: #0e0e0e;
    --pri-color-2: #050505;

    --sec-color-1: #f1f1f1;
    --sec-color-2: #f5f5f5;

    --accent-color-1:  #32f1ff;
    --accent-color-2:  #00ffe7;

    --font-poppins: "Poppins", sans-serif;
    --font-inter: "Inter", sans-serif;

    font-family: var(--font-poppins);

}

html {
    /*background: linear-gradient(var(--sec-color-2), var(--sec-color-1));*/
    background-color: var(--sec-color-1);
    height: 100dvh;
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    margin-block: 16px;

    height: 48px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: var(--pri-color-1);

    border: 1px solid var(--pri-color-1);

    background-color: var(--sec-color-1);

    /*background: linear-gradient(var(--sec-color-1), var(--sec-color-2));*/

    /*background: linear-gradient(to top, transparent, #121212ff);*/

    /*filter: drop-shadow(0 -0.1rem 0.05rem var(--pri-color-1));*/

    /*border: 1px solid var(--pri-color-1);
    border-bottom: 0;
    border-radius: 1rem;*/
    padding: 8px;

    & span {
        font-family: var(--font-poppins);
    }
}

a {
    color: var(--pri-color-1);
    text-decoration: none;
}

body {
    padding: 0px;
    margin: 0;

    background:
        radial-gradient(#121212aa, #080808ff),
        url("/assets/websiteImages/NetherFortress.png");

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

footer {
    margin-block: 32px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* --- CLASS --- */

.background-hero {

}

.justify-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.justify-col{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
}

.gradient1-toLeft {
    background: linear-gradient(
        to left,
        var(--accent-color-2),
        var(--accent-color-1)
    );
}
.gradient1-toRight {
    background: linear-gradient(
        to right,
        var(--accent-color-2),
        var(--accent-color-1)
    );
}

.buttonShape {
    background-color: var(--accent-color-1);
    padding: 16px;
    border: 0px solid transparent;
    border-radius: 1rem;
}

.pri-c-1 {
    color: var(--pri-color-1);
}
.pri-c-2 {
    color: var(--pri-color-2);
}
.sec-c-1 {
    color: var(--sec-color-1);
}
.sec-c-2 {
    color: var(--sec-color-2);
}
.acc-c-1{
    color: var(--accent-color-1);
}
.acc-c-2{
    color: var(--accent-color-2);
}

.text-bolder {
    font-weight: bolder;
}

.rot-45 {
    transform: rotate(45deg);
}
.rot-225 {
    transform: rotate(225deg);
}

.footerLinkHeader{
    color: var(--accent-color-1);
    display: block;

    margin-block: .25rem;
}

.link-size-1{
    font-size: 12px;
}
.link-size-2{
    font-size:  .75rem;
}
.link-size-3{
    font-size: 1rem;
}

/* --- ID --- */

#footerContent {
    gap: 16px;
    margin-inline: auto;
    margin-block: 0px;
    max-width: var(--cutoffSize);


    border-bottom: 0px;
    border-top: 1px;
    border-inline: 1px;
    border-color: var(--pri-color-1);
    border-style: solid;

    padding-block: 32px;

    & img {
        height: 32px;
        width: 32px;
    }

    & #footerLinks {
        color: var(--pri-color-1);

        display: flex;
        flex-direction: row;
        align-items: start;

        justify-content: space-evenly;
        width: 100%;
    }
}

#stickyNavWrapper {
    top: 0px;
    position: sticky;
}

#wabbanodeLink {

    margin: 8px;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;

    min-width: fit-content;
    & img {
        height: 16px;
        width: 16px;
    }
}

#downloadButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;

    width: fit-content;

    & img {
        height: 16px;
        aspect-ratio: 1/1;
    }
    & a {
        color: var(--pri-color-1);
        text-decoration: none;
    }
}

#heroContent {
    padding: 8px;

    display: flex;
    flex-direction: column;
    gap: 8px;

    border-top: 0px;
    border-bottom: 0px;
    border-left: 1px;
    border-right: 1px;
    border-color: var(--pri-color-1);
    border-style: solid;

    & section {
        & h1,
        h2,
        h3,
        h4,
        h5 {
            margin: 0;
            padding: 0;
        }

        & h1 {
            font-size: 3rem;
        }
    }

    & #leftSide {
        margin-block: 64px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16px;

        & p {
            color: var(--pri-color-1);
            max-width: 360px;
        }
    }

    & #rightSide {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & img {
            width: 100%;
            max-width: 540px;
            border-radius: 1rem;
            border: 0px solid transparent;
        }
    }
}

#modpackLogo {
    width: 32px;
    height: 32px;
}

#headingNav {
    & ul {
        margin: 0;
        display: none;
        flex-direction: row;
        gap: 8px;

        list-style: none;

        font-family: var(--font-poppins);

        & li {
            & a {
                display: flex;
                flex-direction: row;
                align-items: center;

                & span{
                    font-size: .75rem;
                }
                & .navLink_icon{
                    --IconSize: 12px;
                    padding-inline: 8px;
                    width: var(--IconSize);
                    height: var(--IconSize);
                }
            }
        }
    }
}

/* wrappers */

#wrapper_downloads {
    background-color: var(--sec-color-1);
    height: 1080px;
}

/* Media Queries */

/* tablet screen */
@media screen and (min-width: 768px) {

    header{
        width: 1080px;
        margin-inline: auto;
    }


    .buttonHover1{
        border: 0px solid transparent;
        transition: border .25s;

        &:hover{
            border: 4px solid var(--pri-color-1);
        }
    }

    #footerContent{
        max-width: 1080px;
        margin-inline: auto;
        gap: 16px;
        padding-inline: 8px;
    }

    #headingNav {


        & ul {
            display: flex;

            & li{
                & a{
                    &:hover{
                        & .navLink_icon{
                            background-color: var(--accent-color-1);
                        }
                    }
                }
            }
        }
    }

    #downloadButton{
        margin: 8px;
    }

    #wabbanodeLink{
        margin: 8px;
    }

    #heroContent {
        flex-direction: row;
        height: fit-content;
        margin-inline: 16px;

        & section {
            height: 720px;
            width: 50%;

            & #heroLinkWrapper{
                height: 96px;
            }
        }

        & #leftSide {
            margin-block: 0;

            align-items: start;
        }
        & #rightSide {
            margin-block: 0;
        }
    }

}

@media screen and (min-width: 960px){
    #heroContent{

        max-width: 1280px;
        margin-inline: auto ;

        & rightSide{
            align-items: end;
        }
    }
}
